body {
  font-family: 'Poppins-Bold', sans-serif;
  font-size: 50vw;
  color: white;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: max-content;
} 

#bodyaboutme {
  background-image: url('https://i.ibb.co/RyJJmPm/message-Image-1600833723005.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed; 
  width : 100%;
}

.bodycontact{background-image:url(https://i.ibb.co/JB3Y8zK/message-Image-1601651144011.jpg);
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat
  }

.tablecontact{
border-spacing: 40px;
}
.fotocontact{
border-radius: 20px;
margin-top: 100px;

}
.fotohome1{
  border-radius: 20px;
  padding-top: 13%;

  
}
.footer-home {
padding-top:5px;
padding-bottom: 5px;
position: fixed;
left: 0;
bottom: 0;
width: 100%;
background-color: black;
color: white;
text-align: center;
}
.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  margin-bottom: 0;
  padding-top:5px;
  padding-bottom: 5px;
} 


.img-responsive {
  max-width: 100%; 
  display:block; 
  height: auto;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -50px;
}

.backgroundcolor{
  background-color: black;
}

* {
  box-sizing: border-box;
}


@media screen and (min-width: 601px) {
  div.example {
    font-size: 80px;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  div.example {
    font-size: 30px;
  }
}
