{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <head>
          <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="static https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins&display=swap">
      </head>
</head>
<body>
    {% include "navbar.html" %}
</div>
<div class="container" style="text-align: left;">
    <h1 style="text-align: center;"> Details</h1>
    <div class="row">
        <div class="col">
        </div>
        <div class="col">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Mata Kuliah</th>
                    <th scope="col">Dosen</th>
                    <th scope="col">SKS</th>
                    <th scope="col">Jam</th>
                    <th scope="col">Semester</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">{{matkul.Matkul}}</th>
                    <td>{{matkul.Dosen}}</td>
                    <td>{{matkul.SKS}}</td>
                    <td>{{matkul.Jam}}</td>
                    <td>{{matkul.Semester}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
