{% load static %}
<!DOCTYPE html>
<html>
        <head>
          <head>
            <link rel="stylesheet" href="{% static 'css/style.css' %}">
          <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
          <script src="static https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
          <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins&display=swap">
        </head>
<body>
  {% include "navbar.html" %}
  <div class = "container" style="padding-top: 5%;">
    <div class= "row">
      <div class = "col-sm-8 col-md-4 mx-3" style="padding-right: 5%;" >
    <div class="jadwal">
        <div class="juduljadwal d-flex justify-content-center">
            <p>
                <b>Jadwal</b>
            </p>
        </div>
        <div class="jadwal2">
            <form action="" method="POST">
                {% csrf_token %}
                {{ formulir }}
                <div class = "centre-items" style = "margin-top: 2%">
                    <input type = "submit" class="btn btn-primary"> 
                </div>
            </form>
        </div>
    </div>
      </div>
        <div class="table-responsive" id="Table">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Mata Kuliah</th>
                    </tr> 
                </thead>
                {% for i in jadwal %}
                <tbody>
                    <tr>
                        <td>{{ i.Matkul }}</td>
                        <td><a href="{% url 'jadwal:delete' pk=i.pk %}"><button class="btn btn-icon btn-danger"><i class="fa fa-trash"></i></button></a></td>
                        <td><a href="{% url 'jadwal:detail' pk=i.pk %}"> <button class="btn btn-info"></button></a></td>
    
                    </tr>
                </tbody>
                {% endfor %}

        </table>
        

    
</section>

        </div>
    </div>
            
            </a>
        </div>
    </div>
</body>
<div class="footer-home">
  <p><b>Copyright @ 2020 Robby</b></p>
</div>
</html>
