{% load static %}
<!DOCTYPE html>
<html>
        <head>
          <link rel="stylesheet" href="{% static 'css/style.css' %}">
          <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
          <script src="static https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
          <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins&display=swap">
        </head>
<style></style>

</style>
<body style="padding: 0px;margin: 0px;">
    <nav class="navbar navbar-inverse" style= "margin-bottom: 0;">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand"> <img class="img-responsive"  src="https://i.ibb.co/3YdJXQ9/message-Image-1600948195137-removebg-preview.png" width = "20" height = "auto" ></a>
          </div>
          <ul class="nav navbar-nav">
            <li><a href="{% url 'main:home' %}">Home</a></li>
            <li><a href="{% url 'main:aboutme' %}">About me</a></li>
            <li><a href="{% url 'main:game' %}">Game</a></li>
            <li><a href="{% url 'main:contact' %}">Contact</a></li>
            <li><a href="{% url 'jadwal:jadwal' %}">jadwal</a></li>
          </ul>
        </div>
      </nav>
</body>
</html>