{% load static %}
<!DOCTYPE html>
<html>
    <head>
      <head>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="static https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins&display=swap">

      </head>

<body background="https://wallpaperaccess.com/full/512679.jpg">
 
  
    {% include "navbar.html" %}
      <a><img class="img-responsive" width = 100% src="https://i.ibb.co/JcD2L17/message-Image-1601707308638-1.jpg"></td></a>
     
      </table>
      <div class = "footer">
        <p align="center"><b>Copyright @ 2020 Robby</b></p>
      </div>

</body>
</html>
