<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="style.css">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
      </head>
<body background="https://images.unsplash.com/photo-1563089145-599997674d42?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80">
    
  {% include "navbar.html" %}

      <div class = "fotohome1">
      <a href = "aboutme.html"><img class="img-responsive" src="https://i.ibb.co/hB2XxJ1/message-Image-1600948361210.jpg" style="display: block; margin: auto; border-radius: 20px;"width="300px" ></a>
      </div>
      <div class="footer-home">
        <p><b>Copyright @ 2020 Robby</b></p>
      </div>
</body>
</html>

